node_modules/
public
.gatsby-context.js
.DS_Store
.intermediate-representation/
.cache/
yarn.lock
.env
.env.development
.env.production
server/composer.phar
server/composer.lock
server/vendor/
server/config.php
