
.dashHeader{
   background-color: #e7e7e7;
   padding-top: 1em;
   padding-bottom: 1em;
   padding-left: 1em;
   padding-right: 1em;
 }
 .dashHeader a {
     color:black;
 }
 .textbox {
     background-color: #e7e7e7;
     padding-top: 1em;
     padding-left: 1em;
     padding-right: 1em;
 }
 .textbox:not(:last-child) {
     margin-bottom: 2em;
 }
.table {
    margin-top: 6em;
}
.alignleft {
    float: left;
    font-size: 1.3em;
    font-weight: 400;
    padding-left: 0.3em;
    margin-top: 0.3em;
}
.alignright {
    float: right;
    color:rgb(26, 165, 26)
}
.img {
    width: 40px;
    height: 40px;
    float: left;
}
@media only screen and (max-width: 1000px) {
  .dashHeader .alignright {
      width: 100%;
      float: left;
      margin-top: 2em;
  }
}