.menu {
    margin-bottom: 4em;
    
}
.menu ul {
  text-align: center
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
    color:black;
    border-bottom: 0.2em solid tomato; 
    font-size: 1.4em;
    padding-bottom: 0.5em;
}
.menu ul li:not(:last-child) {
    margin-right: 3.5em;
}





@media screen and (max-width: 600px) {

 .menu ul {
   text-align: left !important;
 } 
}
@media only screen and (max-width: 480px) {
ul, ol {
    margin-left: 0 !important;
}
.menu ul li:not(:last-child) {
  margin-right: 2.2rem;
}
}

@media only screen and (max-width: 380px) {
   .bioDesc  {
     font-size: 1.4rem
   }
  }
