body {
  background: rgb(231, 231, 231);
}

h1,h2 {
  font-family: 'Indie Flower';
  color: rgb(32, 29, 29);
  font-size: 2rem;
  font-weight: 300;
}
.menu {
  margin-bottom: 4em; 
}
.menu ul {
  text-align: center
}
.menu ul li {
  display: inline-block;
}
.menu ul li a {
    color:black;
    border-bottom: 0.2em solid tomato; 
    font-size: 1.2em;
    padding-bottom: 0.5em;
    font-family: 'Indie Flower';
}
.menu ul li:not(:last-child) {
    margin-right: 3.5em;
}

.bioDesc  {
  font-family: 'Indie Flower';
  line-height: 2em;
  margin-top: 0.3em;
}

/* for email addresses */
.obfuscate {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-weight: 700;
}

@media only screen and (max-width: 480px) {
  ul, ol {
      margin-left: 0 !important;
  }
  .menu ul li:not(:last-child) {
    margin-right: 2.2rem;
  }
}

@media only screen and (max-width: 380px) {
  .bioDesc  {
    font-size: 1.4rem
  }
}
